@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --font-inter: 'Inter', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {

  0%,
  10% {
    width: 0;
  }

  45%,
  55% {
    width: 6.2em;
  }

  90%,
  100% {
    width: 0;
  }
}

.terminal-loader .text {
  animation: typeAndDelete 4s steps(11) infinite, blinkCursor 0.75s step-end infinite;
  border-right: 2px solid #22c55e;
}